Source: ros-melodic-distance-map-tools
Section: misc
Priority: extra
Maintainer: Jeremie Deray <deray.jeremie@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-backward-ros, ros-melodic-catkin, ros-melodic-distance-map-core, ros-melodic-interactive-markers, ros-melodic-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-distance-map-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-backward-ros, ros-melodic-distance-map-core, ros-melodic-interactive-markers, ros-melodic-visualization-msgs
Description: Node package of the map_distance project.
 It contains the ROS node that instantiate the distance map plugin.
